Xft.dpi: 180
Xcursor.theme: DMZ-Black
Xcursor.size: 32

! special
*.foreground:   #c6c8d1
*.background:   #161821
!*.cursorColor:  #8700af

! black
*.color0:       #212330
*.color8:       #6b7089

! red
*.color1:       #e27878
*.color9:       #e98989

! green
*.color2:       #b4be82
*.color10:      #c0ca8e

! yellow
*.color3:       #d8a77e
*.color11:      #e9b189

! blue
*.color4:       #84a0c6
*.color12:      #91acd1

! magenta
*.color5:       #a093c7
*.color13:      #ada0d3

! cyan
*.color6:       #89b8c2
*.color14:      #95c4ce

! white
*.color7:       #c6c8d1
*.color15:      #d2d4de

URxvt*font: xft:RobotoMono Nerd Font Mono:size=11
URxvt*scrollBar:		false
URxvt.termName: rxvt-unicode-256color
!URxvt*perl-lib:			/usr/lib/urxvt/perl
URxvt*urlLauncher:		/usr/bin/chromium
URxvt*cursorUnderline: 0
URxvt*fadeColor: 		#000000
URxvt*cursorBlink:		true
! Use the specified colour for the cursor. The default is to use the foreground colour; option -cr.
URxvt*cursorColor: #8700af

! Use the specified colour for the colour of the cursor text. For this to take effect, cursorColor must also be specified. The default is to use the
URxvt*cursorColor2: #c6c8d1

URxvt.lineSpace: 6
